@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@800&display=swap');

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: 'Manrope', sans-serif;
}
:root {
  --light-cyan: hsl(193, 38%, 86%);
  --neon-green: hsl(150, 100%, 66%);
  --grayish-blue: hsl(217, 19%, 38%);
  --dark-grayish-blue: hsl(217, 19%, 24%);
  --dark-blue: hsl(218, 23%, 16%);
}
html {
  font-size: 62.5%;
}
body {
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: var(--dark-blue);
}
.app--container {
  background-color: var(--dark-grayish-blue);
  width: 54rem;
  padding: 4em 4em 6.4em;
  border-radius: 2rem;
  position: relative;
}

.advice {
  color: var(--neon-green);
  text-transform: uppercase;
  text-align: center;
  letter-spacing: 4px;
  font-size: 1.3rem;
  font-weight: 800;
}
.quote {
  margin: 1em 0;
  color: var(--light-cyan);
  font-size: 2.8rem;
  text-align: center;
  font-weight: 800;
  line-height: 1.5;
}
.line {
  display: flex;
  justify-content: center;
}

.dice {
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translate(-50%, 50%);
  background-color: var(--neon-green);
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 2.6rem;
  border-radius: 50%;
  cursor: pointer;
  transition: box-shadow 100ms linear;
}
.dice:hover,
.dice:active {
  box-shadow: 0px 0px 40px rgb(82, 255, 168, 0.6);
}
.dice--icon {
  transform: scale(2.6);
}
.attribution {
  margin-top: 6rem;
  font-size: 1.3rem;
  text-align: center;
  color: var(--light-cyan);
  letter-spacing: 0.6px;
}
.attribution a {
  color: var(--light-cyan);
}

@media (max-width: 375px) {
  body {
    padding: 0 1.5rem;
  }
  .app--container {
    width: 100%;
    padding: 4em 1em 6em;
  }
  .quote {
    font-size: 2.2rem;
  }
}
